<!--If user is logged in, render to expense content-->
{{#if loggedIn}}
<table>
        <header>
            <tr>
                {{#each headers}}
                <h3>{{expense}}</h3>
                {{/each}}
            </tr>
        </header>
        <body>
            {{#each rows}}
            <tr>
                {{#each amount}}
                <h4>{{amount}}</h4>
                {{/each}}
            </tr>
            {{/each}}
        </body>
    </table>
</section>
<!--Otherwise, provide a link to login -->
{{else}}
<h3>Please <a href="/login">login</a> to view this content</h3>
{{/if}}


