{{!--layout and structure for app--}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fiscal Funhouse</title>
  <link rel="stylesheet" href="./css/jass.css">
  <link rel="stylesheet" type="text/css" href="./css/styles.css">

</head>

<body>
  <header>
    <h1>Welcome to the Fiscal Funhouse</h1>
  </header>
  <nav>
    <a class="btn btn-danger" href="/">Home</a>
    <!-- If the user is logged in, show a logout button -->
    {{#if loggedIn}}
    <button id="logout" class="btn btn-danger">Logout</button>
    {{else}}
    <!-- Otherwise, show a link to login -->
    <a class="btn btn-danger" href="/login">Login</a>
    {{/if}}
    {{#if loggedIn}}
    <button id="expenseBtn" class="btn btn-danger">New Expense</button>
    {{/if}}
  </nav>
  <main>
    <aside>
      <h2>Your Budget</h2>
    </aside>
    <div class="budget m-5">
      {{{body}}}
    </div>
  </main>
  <!-- If the user is logged in, load the JS script for when they logout -->
  {{#if loggedIn}}
  <script src="./js/logout.js"></script>
  <script src="./js/homepage.js"></script>
  {{/if}}
</body>


</html>
