{{!--layout and structure for app--}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fiscal Funhouse</title>
  <link rel="stylesheet" href="./css/jass.css">
  <link rel="stylesheet" type="text/css" href="./css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <h1>Welcome to the Fiscal Funhouse</h1>
    <a class="btn btn-danger" href="/">Home</a>
    <!-- If the user is logged in, show a logout button -->
    {{#if loggedIn}}
    <button id="logout" class="btn btn-danger">Logout</button>
    {{else}}
    <!-- Otherwise, show a link to login -->
    <a class="btn btn-danger" href="/login">Login</a>
    {{/if}}
    {{#if loggedIn}}
    <button id="expenseBtn" class="btn btn-danger">New Expense</button>
    {{/if}}
  </header>
  <nav>
    
  </nav>
  <main class="row">
    
    <div class="budget">
      {{{body}}}
    </div>
  </main>
  <!-- If the user is logged in, load the JS script for when they logout -->
  {{#if loggedIn}}
  <script src="./js/logout.js"></script>
  <script src="./js/homepage.js"></script>
  
  {{/if}}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>


</html>
