:root{
    --primary: #f30f2d;
  --secondary: #f0f7f5;
  --tertiary: #ec700a;
  --quatrinary: #000000;
  --light: #e3e4e3;
  --dark: #182c23;
  --error: rgb(153, 33, 3);
  --border-radius: 0.3rem;
}

body {
/* display: flex;
margin: 0;
min-height: 100vh;
justify-content: flex-start;
background-color: var (--primary); */
background-image: url("../images/NiN_MAZE_0020.jpg");
background-size: cover;
font-family: 'Rubik Bubbles', cursive;
color: white;
}


header{
padding: 40px;
text-align: center;
background: #65aa38;
/* color: var (--quatrinary); */
}

main{
display: flex;
flex-wrap: wrap;
flex-grow: 1;
}

#expenseChart {
  width: 400px !important;
  height: 400px !important;
  color: white !important;
}

.expense {
  width: 100% !important;
}

.budget{
display: flex;
padding: 50px;
justify-content: center;
align-items: center;
width: 100vw;
}

.container {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    align-items: center;
  }

.form-input {
  background-color: #65aa38 !important;
}
  