:root{
    --primary: #f30f2d;
  --secondary: #f0f7f5;
  --tertiary: #ec700a;
  --quatrinary: #000000;
  --light: #e3e4e3;
  --dark: #182c23;
  --error: rgb(153, 33, 3);
  --border-radius: 0.3rem;
}

#body {
display: flex;
margin: 0;
min-height: 100vh;
justify-content: flex-start;
background-color: Var(--primary);
}

header{
padding: 40px;
text-align: center;
background: var(--primary);
color: var (--quatrinary);
}

main{
display: flex;
flex-wrap: wrap;
flex-grow: 1;
}

budget{
display: flex;
padding: 50px;
justify-content: center;
align-items: center;
}

.container {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    align-items: center;
  }